@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.body {
    background-color: #eeff00;
}

.bodyFinish {
    background-color: rgb(0, 196, 16);
}

.bodyLose {
    background-color: #e24f4f;
}

.container {
    width: 650px;
    height: 550px;
    margin: 0 auto;
    margin-top: 95px;
    max-height: 650px;
    /* background-color: rgb(218, 198, 218); */
}

.game {
    width: inherit;
    height: inherit;
    text-align: center;
}

.cardsBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    border-radius: 16px;
    /* box-shadow: inset 41px 41px 325px rgb(224, 207, 207), inset -41px -41px 325px rgb(224, 207, 207), 6px 6px 180px rgb(224, 207, 207), -6px -6px 180px rgb(224, 207, 207); */
    /*background-color: blue;*/
}

.cardsRow {
    display: flex;
    justify-content: space-between;
    height: 23%;
    min-height: 10%;
}

.cardsRow>div {
    width: 23%;
    border: 5px solid black;
    border-radius: 16px;
}

.cardsRow>div:hover {
    cursor: pointer;
    box-shadow: 4px 4px 20px rgb(224, 207, 207), -4px -4px 20px rgb(224, 207, 207);
}

.cardsRow>div:active {
    transform: scale(.95);
}

.result {
    padding-top: 5%;
    padding-left: 2%;

}

/*  */

.closed {
    /* background-image: url(images/wild_color_changer.png); */
    background-color: lightblue;
    background-size: 125px 125px;
}

/* .opened {
    background-image: url(image/);

} */
/* .win {
} */

.img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.finishText {
    font-size: 60px;
    border-radius: 30px;
    box-shadow: 10px 10px 200px rgb(224, 207, 207), -10px -10px 200px rgb(224, 207, 207);
}

.replay {
    display: inline-block;
    margin: 50px 230px 0 0;
    width: 145px;
    height: 30px;
    border: 2px solid black;
    border-radius: 9px;
    padding-top: 4px;
    background-color: rgb(118, 218, 153);

    font-weight: 400;
    color: black;
}

.replay:hover {
    transition-duration: 200ms;
    transform: translateY(1px);
    background-color: yellowgreen;
}

.replayDown {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.timer {
    display: inline-block;
    width: 155px;
    margin-left: auto;
    /* background-color: #68a703; */
    border-bottom: 2px solid rgb(20, 83, 1);

}

.timerDang {
    color: red;
    border-color: red;
    transform: scale(1.3);
    transition-duration: 300ms;
}

.bodyDang {
    background-color: #faaeae;
}


.levels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    /* width: 330px;
    height: 30px; */
}

.selfSettings {
    width: 50%;
    height: 100%;
    padding: 25px;
    border-right: 5px solid rgb(87, 87, 253);
}

.levels {
    display: flex;
    padding: 25px;
}

#levelSelect {
    /* background-color: rgb(255, 255, 190); */
    background-color: rgb(163, 149, 245);
    /* border: none; */
}


.userSettings {
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 650px;
    border-radius: 18px;
    background-color: rgb(133, 172, 255);
}

.settingsTitle {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
}

.settingsForm {
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.displayNone {
    display: none;
}

.jcSpEvl {
    justify-content: space-evenly;
}

.invalidMessage {
    color: rgb(192, 0, 0);
}

.settingsForm input {
    margin-top: 8px;
}

.completedLevel {
    background-color: green;
}